@{
    ViewData["Title"] = "About Me";
}


<div class="text-center">
    <br />
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <h3>
        Hey there! Welcome to my unique little corner of the web! 
    </h3>
    <h4>
        I'm a junior developer fueled by a burning desire to launch my career in a supportive work environment that embraces my growth. Armed with backend development skills and an insatiable curiosity for emerging technologies, I'm all about fresh ideas and out-of-the-box solutions.
        
        Sure, I may be a newbie, but don't underestimate my ability to soak up knowledge like a sponge. I've got a relentless work ethic and eagerness to learn from the seasoned pros around me. Together, we can take your organization to new heights.
        
        Beyond my coding prowess, I've got some hidden talents too. I used to groove as a Latin Dance Instructor and Board Member at the Marmara University Dance Society. Picture this: the first-ever mind-blowing salsa show, breaking records with pre-registrations, and packing the house with the most popular Latin classes ever seen!
        
        Oh, and let's not forget my gig as a fierce competitor and Assistant Instructor at the Aytunç Bentürk Dance Academy. I've got the moves and the drive to thrive in high-pressure dance contests.
        Now, imagine infusing that same passion, enthusiasm, and dedication into your organization. 
        <br />
        Yeah, I'm fired up! Thanks for considering my application. Let's chat soon and make some magic happen together!
    </h4>
    <br />
    <p style="animation:ease-in">Feel free to send a connection request on <a href="https://www.linkedin.com/in/emreaygener/">linkedin</a>.</p>
</div>