@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center flex-row-reverse">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h4>This is as Mvc Demo prepared for an interview.</h4>
    <br />
    <h5>The task was CRUD operations on <a asp-controller="Clubs" asp-action="Index">clubs</a> and <a asp-controller="Players" asp-action="Index">players</a>.</h5>
    <br />
    <h6>Hope you like what you see! :)</h6>
    <br />
    <p>To see other repos I have created <a href="https://github.com/emreaygener/">click here!</a></p>
    <br />
</div>
